.qst{color: black; font-size: 20px; font-weight: bold; font-family: Times New Roman}
.ost{color: rgb(117, 76, 15); font-size: 14px;font-weight: bold}
.out{color: rgb(2, 99, 42); font-size: 25px;font-weight: bold}
.bst{ font-size: 20px;font-weight: bold}